@use "partials";

@font-face {
    font-family: Pokemon;
    src: url("../assets/fonts/pokemon-1.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.app {
    width: 100%;
    height: 100vh;

    font-family:
        Pokemon,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

button {
    font-family:
        Pokemon,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/bg-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: center;
    z-index: -1;
}
